<h1>Bem vindo!</h1>

<p>
  Seja bem vindo ao Super Fã - Sales, o gerenciador do seu negócio.
</p>
<p>
  Para dicas de como usar a plataforma, acompanhe nossa página no Facebook.
</p>
<a href="https://www.facebook.com/Super-f%C3%A3-Sales-Beta-112605997545485">Super Fã - Sales - beta</a>
